<div data-dojo-attach-point="divAddressContainer" align="center" class="esriCTAddressContainer"
    style="display: none">
    <div data-dojo-attach-point="divAddressHolder" class="esriCTHideContainerHeight esriCTAddressHolder">
        <div data-dojo-attach-point="divAddressContent" class="esriCTAddressContent">
            <div data-dojo-attach-point="divAddressResultContainer" class="esriCTAddressResultContainer">
                <div class="esriCTFullWidth">
                    <div data-dojo-attach-point="divAddressSearch" class="divAddressSearch" align="left">
                        <div data-dojo-attach-point="divAddressPlaceHolder" class="esriCTAddressPlaceHolder">
                            <input type="text" data-dojo-attach-point="txtAddress" class="esriCTTxtAddress" onfocus="if(this.setSelectionRange)this.setSelectionRange(this.value.length, this.value.length);" />
                            <div class="esriCTSearchClose" data-dojo-attach-point="clearhide">
                                <span class="clearInput" title="Clear" data-dojo-attach-point="close"></span>
                                <div>
                                    <img data-dojo-attach-point="imgSearchLoader" class="esriCTSearchLoader" /></div>
                            </div>
                        </div>
                        <div class="esriCTSearch" data-dojo-attach-point="esriCTSearch">
                            <span class="locateSearchicon" title="Search" data-dojo-attach-point="esriCTimgLocate">
                            </span>
                        </div>
                        <div data-dojo-attach-point="divAddressList" class="esriCTAddressList">
                            <div data-dojo-attach-point="divAddressScrollContainer" class="divAddressScrollContainer"
                                align="left">
                                <div data-dojo-attach-point="divAddressScrollContent" class="esriCTAddressScrollContent">
                                    <div data-dojo-attach-point="divAddressResults" class="esriCTFullWidth" cellpadding="0"
                                        cellspacing="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
