<div class="esriCTFullHeightWidth" data-dojo-attach-point="applicationHeaderShareContainer">
    <div class="route" data-dojo-attach-point="route">
        <div data-dojo-type="dijit.layout.BorderContainer" class="esriCTRouteBorderContainer"
            data-dojo-attach-point="esriCTRouteBorderContainer" data-dojo-props="design:'headline', gutters:false">
            <div data-dojo-type="dijit.layout.ContentPane" class="esriCTContentPane" data-dojo-props="region:'right'">
                <div class="esriCTRouteContainer esriCTHideContainerHeight divRouteHeight" data-dojo-attach-point="esriCTRouteContainer">
                </div>
            </div>
        </div>
    </div>
</div>
