<div data-dojo-attach-point="esriCTinfoWindow" class="esriCTinfoWindow">
    <div id="divInfoContainer" align="center" class="esriCTInfoContainer esriCTopacityHideAnimation">
        <div align="left" id="divInfoContent" class="esriCTInfoContent">
            <div id="esriCTFullHeightWidth" class="esriCTFullHeightWidth">
                <div id="headderPanel">
                    <div data-dojo-attach-point="esriCTheadderPanel" class="esriCTheadderPanel">
                    </div>
                    <div class="esriCTclosediv" data-dojo-attach-point="esriCTclosediv">
                    </div>
                </div>
                <div data-dojo-attach-point="divInfoDetails" class="infopanel">
                    <div data-dojo-attach-point="divInfoDetailsScroll" class="esriCTInfoDetailsScroll">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
